#list,
#list * {
  box-sizing: border-box;
}

#list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

#list li {
  margin: 0;
  padding: 0 1em 1em 0;
  width: 50%;
}

#list figure {
  margin: 0;
}

#list figure a:hover {
  opacity: .5;
}

#list figcaption {
  margin: .5em 0;
}

#list img {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  box-shadow: 0 0 0 1px #eee;
}

@media (min-width: 640px) {
  #list li {
    width: 33.333%;
  }
}

@media (min-width: 1024px) {
  #list li {
    width: 25%;
  }
}
